:root
{
    --bordersize:3px;

}

html * 
{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 1.625;
  font-family: arial;
}

body
{
    background-color: black;
    background-image: url('assets/background.jpg');
}


label, input
{
    display: block;
}

ul
{
    list-style-type: none;
}

nav ul li a
{
    padding: 2px 8px;
    border:solid;
    border-color: white;
    border-width: var(--bordersize);
    border-style: solid;
    text-decoration: none;
}

ul#socials li a img
{
    scale:50%
}

li
{
    min-width: 0;
    padding:0;
    margin:0;
    width:100%;
}

.spreadEqualyCentered
{
    min-width: 400px;
    width:50%;
    margin: 20px auto;
    display: flex;
    padding: 0
}

#emailInput
{
    margin: 20px auto;
    display: flex;
    padding: 0
}

#mail
{
    color:white;
    background-color: transparent;
    border: soldid;
    border-color: white;
    border-width: var(--bordersize);
    border-style: solid;
}

#mailer
{
    position:absolute;
    bottom:40%;
    left:50%;
    margin:auto;
    display: block;
    transform: translate(-50%,-50%);
}

#bandsintown
{
    overflow: auto;
    visibility: hidden;
    position: relative;
    width:60%;
    height:60%;
    margin:80px auto;
    padding: 80px 0;
    display:block;
}

#socials
{
    max-width: 30px;
}

footer
{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

input:focus {
    outline: none;
}
