html * {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 1.625;
  font-family: arial;
}

body
{
    background-image: url('../assets/background.jpg');
}

#mailer
{
    display: block;

}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.spreadEqualyCentered
{
    min-width: 400px;
    width:50%;
    margin: 20px auto;
    display: flex;
    padding: 0
}

ul
{
    list-style-type: none;
}

ul#socials li a img
{
    scale:50%

}
li
{
    min-width: 0;
    padding:0;
    margin:0;
    width:100%;
}
